@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');



@font-face {
  font-family: 'Butler';
  src: url('/fonts/Butler-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Butler';
  src: url('/fonts/Butler-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Butler';
  src: url('/fonts/Butler-Medium.woff') format('woff');
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: 'Butler';
  src: url('/fonts/Butler-Light.woff') format('woff');
  font-weight: light;
  font-style: normal;
}

@font-face {
  font-family: 'Butler';
  src: url('/fonts/Butler-Medium.woff2') format('woff2'),
      url('/fonts/Butler-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

.heading-text{
  font-size: 70px;
    font-family: Butler;
    font-weight: normal;
    line-height: 0.84;
    letter-spacing: -2.8px;
}


h1, h2, h3, h4, h5 {
  font-family: 'Butler', sans-serif;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.jost-uniquifier {
  font-family: 'Futura', sans-serif;
}

/* styles/globals.css */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

a {
  text-decoration: none;
}

h1 {
  text-align: center;
  margin-top: 2rem;
}

p{
  letter-spacing: -0.56px;
  
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: black;
}

@keyframes fadeInDown {
  from {
      opacity: 0;
      transform: translateY(-50px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.shadow-custom {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

@font-face {
  font-family: 'Futura';
  src: url('/fonts/futura/Futura.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

     .hover-border::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            right: 50%;
            width: 0;
            height: 2px;
            background-color: white;
            transition: width 0.3s ease, left 0.3s ease;
        }
        .hover-border:hover::after {
            width: 100%;
            left: 0;
        }
        